@import "tailwindcss";

@layer base {
  :root {
    --color-primary: oklch(60% 0.15 270);
    --color-secondary: oklch(65% 0.17 340);
    --color-bg: oklch(98% 0.01 250);
    --color-card: oklch(100% 0 0 / 0.3);
    --color-border: oklch(85% 0.02 250);
    --color-text: oklch(15% 0.01 250);
    --color-muted: oklch(50% 0.02 250);
  }

  .dark {
    --color-primary: oklch(70% 0.18 260);
    --color-secondary: oklch(75% 0.20 340); 
    --color-bg: oklch(20% 0.02 250);
    --color-card: oklch(30% 0.01 250 / 0.1);
    --color-border: oklch(40% 0.02 250);
    --color-text: oklch(95% 0.01 250);
    --color-muted: oklch(60% 0.01 250);
  }
  
}
@layer utilities {
    .bg-primary {
      background-color: var(--color-primary);
    }
    .bg-secondary {
        background-color: var(--color-secondary);
    }
    .bg-card {
      background-color: var(--color-card);
    }
    .bg-bg {
      background-color: var(--color-bg);
    }
    .bg-border {
      background-color: var(--color-border);
    }
    .bg-text {
      background-color: var(--color-text);
    }
    .bg-muted {
      background-color: var(--color-muted);
    }

    .bg-white-xs{
     background-color:  oklch(95% 0.01 250/0.02);
    }
    .bg-white-sm{
     background-color:  oklch(95% 0.01 250/0.05);
    }
    .bg-white-md{
     background-color:  oklch(95% 0.01 250/0.1);
    }
    .bg-white-lg{
     background-color:  oklch(95% 0.01 250/0.2);
    }

    .border-white-sm{
        border: 1px solid  oklch(95% 0.01 250/0.1);
       
    }
    .border-b-white-sm{
        border-bottom: 1px solid  oklch(95% 0.01 250/0.1);

    }

    .text{
        color:var(--color-text)
    }
    .text-primary{
        color:var(--color-primary)
    }
    .text-secondary{
        color:var(--color-secondary)
    }
    .text-white{
        color: oklch(95% 0.01 250);
    }
    .text-white-medium{
        color: oklch(95% 0.01 250/0.7);
    }
    .text-white-muted{
        color: oklch(60% 0.01 250);
    }
    .text-muted{
        color:var(--color-muted)
    }



    /* Animations */
    @keyframes fadeIn {
      0% {
        opacity: 0;
        transform: scale(0.95);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
      
    .animate-fadeIn {
      animation: fadeIn 0.5s ease-out forwards;
    }


  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .animate-shimmer {
    position: relative;
    overflow: hidden;
  }

  .animate-shimmer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(107, 107, 107, 0.148),
      transparent
    );
    transform: translateX(-100%);
    animation: shimmer 1.5s infinite;
  }
}
  